<h1>Portfolio Details</h1>

<div>
  <%= image_tag @portfolio.thumb_image unless @portfolio.thumb_image.nil? %>
  <div>
    <%= link_to @portfolio.title, portfolio_path(@portfolio) %>
  </div>
  <div><%= @portfolio.subtitle %></div>
  <div><%= @portfolio.body %></div>

  <h2>Technologies used</h2>
  <ul>
    <% @portfolio.technologies.each do |t|  %>
      <li><%= t.name %></li>
    <%end %>
  </ul>
  <%= link_to "Edit", edit_portfolio_path(@portfolio.id) %>
</div>